@model BackCountryFreedom.Core.ViewModels.TrailListViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1> Trails</h1>

<div class="col-md-2">
    <h4> Filter by Location</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Location"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var loc in Model.Locations)
        {
            @Html.ActionLink(loc.Description + " " + loc.Province, "Index", new { Location = loc.Description }, new { @class = Request["Location"] == loc.Description ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Trail Name
        </th>
        <th>
            Description
        </th>
        <th>
            Distance
        </th>
        <th>
            Distance Scale
        </th>
        <th>
            Elevation gain
        </th>
        <th>
            Elevation Scale
        </th>
        <th>
            Location
        </th>
        <th>
            Difficutly
        </th>
        <th>
            Activity Type
        </th>
        <th>
            Lat.
        </th>
        <th>
            Long.
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Trails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceScale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationScale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


