@model IEnumerable<BackCountryFreedom.Core.Models.ActivityType>

<p>
    <a href="@Url.Action("Create", "ActivityType", "Create")" class="btn btn-default">Create Activity Type</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Edit", new { id = item.Id })" class="btn btn-default">Edit Activity Type</a>|
            <a href="@Url.Action("Details", "Details", new { id = item.Id })" class="btn btn-default">Details Activity Type</a>|
            <a href="@Url.Action("Delete", "Delete", new { id = item.Id })" class="btn btn-default">Delete Activity Type</a>
        </td>
    </tr>
}

</table>
