<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @*<li>@Html.ActionLink("Activity Index", "Index", "ActivityType")</li>
                    <li>@Html.ActionLink("Acitivity Edit", "Edit", "ActivityType")</li>
                    <li>@Html.ActionLink("Activity Delete", "Delete", "ActivityType")</li>
                    <li>@Html.ActionLink("Activity Create", "Create", "ActivityType")</li>*@

                    @*<li>@Html.ActionLink("Difficulty", "Index", "Difficulty")</li>
                    <li>@Html.ActionLink("Difficulty Edit", "Edit", "Difficulty")</li>
                    <li>@Html.ActionLink("Difficulty Delete", "Delete", "Difficulty")</li>
                    <li>@Html.ActionLink("Difficulty Create", "Create", "Difficulty")</li>

                    <li>@Html.ActionLink("DistanceScale", "Index", "DistanceScale")</li>
                    <li>@Html.ActionLink("DistanceScale Edit", "Edit", "DistanceScale")</li>
                    <li>@Html.ActionLink("DistanceScale Delete", "Delete", "DistanceScale")</li>
                    <li>@Html.ActionLink("DistanceScale Create", "Create", "DistanceScale")</li>

                    <li>@Html.ActionLink("ElevationScale", "Index", "ElevationScale")</li>
                    <li>@Html.ActionLink("ElevationScale Edit", "Edit", "ElevationScale")</li>
                    <li>@Html.ActionLink("ElevationScale Delete", "Delete", "ElevationScale")</li>
                    <li>@Html.ActionLink("ElevationScale Create", "Create", "ElevationScale")</li>

                    <li>@Html.ActionLink("Location", "Index", "Location")</li>
                    <li>@Html.ActionLink("Location Edit", "Edit", "Location")</li>
                    <li>@Html.ActionLink("Location Delete", "Delete", "Location")</li>
                    <li>@Html.ActionLink("Location Create", "Create", "Location")</li>*@

                    <li>@Html.ActionLink("Season", "Index", "Season")</li>
                    <li>@Html.ActionLink("Season Edit", "Edit", "Season")</li>
                    <li>@Html.ActionLink("Season Delete", "Delete", "Season")</li>
                    <li>@Html.ActionLink("Season Create", "Create", "Season")</li>

                    @*<li>@Html.ActionLink("Observation", "Index", "Observation")</li>
                    <li>@Html.ActionLink("Observation Edit", "Edit", "Observation")</li>
                    <li>@Html.ActionLink("Observation Delete", "Delete", "Observation")</li>
                    <li>@Html.ActionLink("Observation Create", "Create", "Observation")</li>


                    <li>@Html.ActionLink("Trails", "Index", "Trail")</li>
                    <li>@Html.ActionLink("Trails Edit", "Edit", "Trail")</li>
                    <li>@Html.ActionLink("Trails Delete", "Delete", "Trail")</li>
                    <li>@Html.ActionLink("Trails Create", "Create", "Trail")</li>*@


                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
